<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gazebo_workshop)/urdf/bot.xacro'"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
    
    <include file="$(find gazebo_workshop)/launch/empty_world.launch">
    </include>

    <rosparam command="load"
            file="$(find gazebo_workshop)/config/joints.yaml" ns="joint_state_controller"/>
    <rosparam command="load"
            file="$(find gazebo_workshop)/config/position_controller.yaml"/>
            
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/> -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model swatchtha_bot -x $(arg x) -y $(arg y) -z $(arg z)"/>
    
    <node name="r2d2_controller_spawner" pkg="controller_manager" type="spawner"
        args="joint_state_controller --shutdown-timeout 3"/>
    <node name="position_spawner" pkg="controller_manager" type="spawner"
        args="position_controller1 position_controller2 position_controller3 position_controller4 --shutdown-timeout 3"/>
</launch>

